/*Reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,p,blockquote,th,td,a,img {
    margin:0;
    padding:0;
    cursor:default;
}

ul,ol,li{
    list-style:none;
}

img.button {
    cursor: pointer;
}

body{
	background-color:#fcfbdc;
}

header {
    width: 100%;
    height: 84px;
    text-align : center;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#main {
    position: relative;
    z-index: 1;
    width: auto;
    height: 563px;
}

#works {
    position: absolute;
    width: 120px;
    height: 77px;
    z-index: 10;
    left: 120px;
    top: 486px;
}

#box2 {
    width: auto;
    height: 563px;
    display: flex;
    flex-direction: row;
}

.flex-item {
    width: 240px;
}

#news {
    position: relative;
}

.NewsBack {
    width: 240px;
}

.NewsBack,.YouChalice {
    position: absolute;
}

.YouChalice {
    top: 70px;
    left: 10px;
}

#side2 {
    display: flex;
    flex-direction: column;
}

#free, .free{
    width: 240px;
    height: 256px;
}

li{
    width: 232px;
    height: 77px;
}

#link {
    float: left;
    position: relative;
}

.LinkBack, .LinkCo {
    width: 240px;
    position: absolute;
}

.LinkCo {
    width: 232px;
    top: 70px;
    left: 4px;
}

footer {
    width: auto;
    height: auto;
    text-align : center;
}